<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style_eric.css' />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <!-- <h1><%= title %></h1>
    <p>Welcome tooo <%= title %></p> -->

  <img class="imgheader" src="/images/prueba2.jpg" alt=""><br>
  <br>
  <div class="primera-division-imagenes">

    <div class="imgmain"><img style="width: 200px; height: 300px; border-style:outset;" src="/images/auri1.JPG" alt="">
      <h1 style="color:whitesmoke; font-size: medium;">Auricular Arturito</h1>
          <button class="buttondetails"><a href="productos/producto1.html">Mas Detalles</a></button>
</div>
<div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/auri2.JPG" alt="">
      <h1 style="color: whitesmoke; font-size: medium;">Auricular Star</h1>
         <button class="buttondetails"><a href="productos/producto2.html">Mas Detalles</a></button>
</div>
<div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/auri3.JPG" alt="">
     <h1 style="color:whitesmoke; font-size: medium;">Auricular Darth</h1>
         <button class="buttondetails"><a href="productos/producto3.html">Mas Detalles</a></button>
</div>
<div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/auri4.JPG" alt="">
     <h1 style="color:whitesmoke; font-size: medium;">Auricular Storm</h1>
         <button class="buttondetails"><a href="productos/producto4.html">Mas Detalles</a></button>
</div>
<div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/artur_ppen_usb.jpg" alt="">
      <h1 style="color:whitesmoke; font-size: medium;">Pendrive Arturito</h1>
         <button class="buttondetails"><a href="productos/producto5.html">Mas Detalles</a></button>
</div>
  <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/darth_pen_usb.jpg" alt="">
       <h1 style="color:whitesmoke; font-size: medium;">Pendrive Darth Vader</h1>
           <button class="buttondetails"><a href="productos/producto6.html">Mas Detalles</a></button>
  </div>
  <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/darthmaul_pen_usb.jpg" alt="">
        <h1 style="color:whitesmoke; font-size: medium;">Pendrive Darth Maul</h1>
           <button class="buttondetails"><a href="productos/producto7.html">Mas Detalles</a></button>
  </div>
  <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/yoda_pen_usb.jpg" alt="">
    <h1 style="color:whitesmoke; font-size: medium;">Pendrive Yoda</h1>
    <button class="buttondetails"><a href="productos/producto8.html">Mas Detalles</a></button>
  </div>
  <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/alfombrilla.jpg" alt="">
    <h1 style="color:whitesmoke; font-size: medium;">Alfombrilla Darth</h1>
    <button class="buttondetails"><a href="productos/producto9.html">Mas Detalles</a></button>
  </div>
  <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/alfombrilla_2.jpg" alt="">
    <h1 style="color:whitesmoke; font-size: medium;">Alfombrilla Arturito</h1>
    <button class="buttondetails"><a href="productos/producto10.html">Mas Detalles</a></button>
  </div>
  <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/alfombrilla_storm.jpg" alt="">
    <h1 style="color:whitesmoke; font-size: medium;">Alfombrilla Storm</h1>
    <button class="buttondetails"><a href="productos/producto11.html">Mas Detalles</a></button>
  </div>
  <div class="imgmain"><img style="width: 200px; height: 300px;" src="/images/mouse.jpg" alt="">
    <h1 style="color:whitesmoke; font-size: medium;">Mouse Darth Vader</h1>
    <button class="buttondetails"><a href="productos/producto12.html">Mas Detalles</a></button>
  </div>

      
  </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
